body {
    font-family: "Alumni Sans SC", cursive;
    background: url('background.png');
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    text-align: center;
}

h1, h3 {
    color: white;
}

.transparent-table {
    background-color: rgb(107, 68, 115);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.transparent-table th,
.transparent-table td {
    background-color: transparent !important;
    color: white;
}

.color-card {
    background-color: rgb(223, 207, 227);
    backdrop-filter: blur(4px);
}